@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
/*font-family: 'Poppins', sans-serif;*/

*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
.h1,
.h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 200;
}

a,
a:hover,
a:focus,
a:active {
	color: #c94838;
	text-decoration: none;
}

.dropdown-toggle {
	padding-right: 20px !important;
}

.dropdown-toggle::after {
	content: "\f107";
	font-family: FontAwesome;
	border: none;
	position: absolute;
	top: 20px;
	right: 13px;
	line-height: 16px;
	margin-top: -8px;
	color: #c94838;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: #c94838;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 2rem;
	font-size: 1rem;
}

.navbar-nav.ml-auto>.dropdown:hover>.dropdown-menu {
	display: block !important;
}

.image-top {
	margin-top: -26px;
}

.filter-home h3 {
	font-size: 20px;
}

.font-36 {
	font-size: 36px;
}

.font-18 {
	font-size: 18px;
}

.font-14 {
	font-size: 14px;
}

.text-red {
	color: red;
}

.text-theme {
	color: #24b6ac;
}

.underline-text {
	text-decoration: underline;
}

.text-gray {
	color: #989898;
}

.grayBg {
	background: #f5f5f5;
}

.btn.btn-theme {
	background: #c94838;
	border-color: #c94838;
	color: #fff;
}

.btn.btn-theme:hover {
	background: #c94838;
	border-color: #c94838;
}

.star-color {
	color: #ec982b;
}

.right-img-btm {
	position: relative;
}

.right-img-btm:before,
.right-img-btm:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 25px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	-webkit-box-shadow: 0 35px 20px #777;
	-moz-box-shadow: 0 35px 20px #777;
	box-shadow: 0 35px 20px #777;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	transform: rotate(-8deg);
}

.right-img-btm:after {
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	-ms-transform: rotate(8deg);
	transform: rotate(8deg);
	right: 10px;
	left: auto;
}

.facility li {
	display: inline-block;
	margin-right: 8px;
}

.facility li img {
	height: 16px;
	width: 16px;
}

.facility li span {
	font-size: 14px;
}

header .upper-part {
	background: #090808;
}

.header-solial {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.header-solial li {
	display: inline-block;
}

.header-solial li a {
	color: #989898;
	padding: 0 5px;
	font-size: 14px;
}

.header-mail,
.header-mail:hover,
.header-mail:focus {
	padding: 0 8px;
	color: #989898;
	display: inline-block;
	font-size: 14px;
}

.app-link-warp {
	background: url(../img/bg-3.png) no-repeat center center;
	background-size: cover;
}

.app-link-btn a img {
	border-radius: 4px;
}

.btn-login {
	position: relative;
	margin-right: 20px;
}

.btn-login::after {
	position: absolute;
	right: -12px;
	top: 4px;
	content: '|';
	display: inline-block;
	color: #989898;
}

.home-hdng {
	background: #f9fbfb;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 15px;
}

.home-hdng span {
	color: #c94838;
}

.home-after-header {
	background: url('../img/bg-4.png') no-repeat center top;
	background-size: 100% 73%;
}

.filter-home .form-control {
	color: #939189;
}

.half-mark-header {
	height: 2px;
	background: #f0f1f3;
	position: relative;
}

.half-mark-header span {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	z-index: 2;
	background: #f0a38c;
}

.cat-list li {
	padding: 4px 0;
}

.cat-list li a {
	color: #514850;
}

.cat-list li a span {
	color: #bec8da;
}

.cat-list li a span.noti {
	color: #fff;
	background: #ff5722;
	padding: 0 5px;
}

.feedback li {
	background: #fff;
	display: flex;
	margin-bottom: 5px;
}

.feedback li .img {
	height: 80px;
	width: 80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.feebbk .media {
	margin-bottom: 10px;
	background: #fff;
	padding: 5px;
}

.feebbk .media h5 {
	font-size: 12px;
}

.feebbk .media .star {
	color: #efca03;
}

.price .current {
	color: #c94838;
	font-size: 26px;
	font-weight: bold;
}

.price .old {
	text-decoration: line-through;
	color: #b8adad;
}

.img-wrp {
	position: relative;
}

.img-wrp .img-inr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.6)
}

.search-btn {
	display: flex;
}

.search-btn input.form-control {
	flex: 1;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.search-btn .btn.btn-src {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background: #ff3300;
	border-color: #ff3300;
	transition: background 1s;
}

.search-btn .btn.btn-src:hover {
	background: #c94838;
}

.card-home .card-footer {
	background: none;
}

.card-home .card {
	position: relative;
	overflow: hidden;
}

.corner-add {
	width: 100px;
	background: #24b6ac;
	position: absolute;
	text-align: center;
	line-height: 50px;
	color: #f0f0f0;
	top: -8px;
	right: -35px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.corner-add i {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

footer {
	background: #c94838;
}

.login-section {}

.login-form {}

.login-form .colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.list-h1 {
	padding: 0.1px;
}

.page-title {
	background-color: #5b0f70;
	background-image: url(../images/inner-bckg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.home-page-title h1,
.page-title h1 {
	font-size: 35px;
	line-height: 55px;
}

.page-title h1 {
	margin-bottom: 5px;
}

.page-title p {
	font-size: 16px;
}

.home-page-title h5,
.page-title p {
	font-size: 18px;
	font-weight: 400;
}

.list-section {}

.list-updiv {}

.list-updiv form a {
	margin: 0 4px;
	font-size: 16px;
}

.list-updiv form a.new_select,
.list-updiv form a.new_select:hover,
.list-updiv form a.new_select:active {
	font-size: 16px;
	color: #c94838;
	border: 1px solid #c94838;
}

.list-innerdiv {}

.list-innerdiv {}

.list-innerdiv .item.col-xs-12.col-sm-12.col-md-3 {
	padding: 0 3px;
}

.list-innerdiv .img-thumbnail {
	padding: 0;
	overflow-y: hidden;
	margin-bottom: 10px;
}

.list-innerdiv .caption h5,
.list-innerdiv .caption h5 span {
	display: block;
}

.list-innerdiv .caption h5 span i,
.list-innerdiv .caption h5 span span {
	display: inline-block;
	color: #ffc000;
}

.list-innerdiv .caption h5 {
	font-weight: 400;
	line-height: calc(30px - 6px);
	text-transform: capitalize;
	padding: 3px 0;
}

.list-innerdiv .caption h5 span span {
	color: black;
}

.list-innerdiv .caption {
	padding: 9px 7px;
}

.list-innerdiv .caption h5 a,
.list-innerdiv .caption h5 a:hover {
	padding: 5px;
	color: #ffffff;
	font-weight: inherit;
	background: #1f7a61;
	border-radius: 0;
}

.list-innerdiv .caption h5:nth-child(4) span {
	display: inline-block;
	font-weight: 400;
	font-size: 11px;
	border-radius: 1px;
	box-sizing: border-box;
	padding: 4px;
}

.list-innerdiv .item.list-group-item {
	float: none;
	width: 100%;
	background-color: #fff;
	margin-bottom: 0;
	padding-bottom: 0;
}

.list-innerdiv .item.list-group-item img {
	float: left;
}

.list-innerdiv .item.list-group-item .list-group-image {
	margin-right: 25px;
}

.list-innerdiv .list-group-item {
	border: 0;
	padding: 10px 10px;
}

.ll-imgdiv {}

.group.list-group-image.img-responsive {
	max-width: 100%;
}

/*---listing-page CSS---*/

.deal-section {}

.deal-leftdiv {}

.deal-rightdiv {}

.deal-rightdiv a {}

.deal-rightdiv h2 {
	font-weight: 500;
	color: hsl(7, 57%, 51%);
}

.deal-rightdiv h2 span {
	text-decoration: line-through;
	font-weight: 300;
}

.deal-rightdiv .timer-div {}

.social-div {}

.deal-detaildiv {}

.font-13 {
	font-size: 13px;
}

.deal-googldiv {}

.review-div {}

.review-div form button {
	cursor: pointer;
}

.cate-search-txt {
	font-size: 13px;
}

.search-category {
	width: auto;
}

.search-category select {
	font-size: 12px;
	border: 1px solid #e5e5e5;
	font-weight: 400;
	padding: 5px 15px;
	font-family: 'Poppins', sans-serif !important;
}

.search-category select option {
	padding: 0 15px;
}

.coupon-link {
	width: auto;
}

.coupon-link ul {
	margin: 0;
	padding: 4px 0 0 0;
}

.coupon-link ul li {
	list-style: none;
	display: inline;
	font-size: 13px;
	font-weight: 300;
	color: #7b7c7c;
	padding: 0 5px;
}

.coupon-link ul li::after {
	content: "\f105";
	font-family: fontAwesome;
	padding-left: 15px;
}

.coupon-list-left {
	width: auto;
}

.coupon-list-left-logo {
	width: 100%;
	background: #f9fbfb;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
	border: 1px solid #f5f5f5;
}

.coupon-list-left-logo p {
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Poppins', sans-serif !important;
}

.coupon-list-left-logo p a {
	color: #343437;
	font-family: 'Poppins', sans-serif !important;
}

.coupon-ava {
	width: auto;
	border-top: 1px solid #e8e8e8;
}

.coupon-ava h1 {
	font-size: 62px;
	padding-top: 20px;
	color: #7c7c7c;
	font-family: 'Poppins', sans-serif !important;
}

.coupon-ava p {
	padding: 0;
	text-transform: uppercase;
	color: #b8b3bd;
	font-family: 'Poppins', sans-serif !important;
}

.related-coupons {
	width: 100%;
	text-align: center;
	margin: 15px 0;
	padding: 15px;
}

.related-coupons h4 {
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	padding-bottom: 1rem;
}

.related-coupons ul {
	margin: 0;
	padding: 0;
}

.related-coupons ul li {
	list-style: none;
	font-weight: 400;
	font-size: 12px;
	text-align: left;
	color: #626463;
	padding: 5px 0;
}

.related-coupons ul li::before {
	content: "\f101";
	font-family: fontAwesome;
	color: #ff5722;
}

.coupon-list-right {
	width: auto;
}

.coupon-list-area {
	border: 1px solid #f5f5f5;
	margin-bottom: 15px;
}

.off-part {
	width: auto;
	text-align: center;
	border-right: 1px solid #e8e8e8;
}

.off-part h3 {
	color: #504f4d;
	font-weight: 400;
}

.off-part p {
	color: #504f4d;
	font-weight: 300;
	text-transform: uppercase;
}

.coupon-list-area-rt {
	width: auto;
	padding: 15px;
}

.coupon-list-area-rt h5 {
	color: #504f4d;
	font-weight: 300;
	font-size: 18px;
	padding: 5px 0;
}

.promo-code {
	width: auto;
	color: #c4c6ce;
	font-size: 12px;
	font-weight: 300;
}

.promo-code span {
	background: #c94838;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 300;
	padding: 0px 2px;
	margin-right: 15px;
}

.coupon-list-area-rt p {
	font-weight: 300;
	font-size: 13px;
	color: #9a9c9b;
}

.get-coupon {
	border-radius: 3px;
}

.get-coupon .btn-success.focus,
.btn-success:focus {
	box-shadow: none;
}

.get-coupon-rt-area {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.get-coupon-modal {
	width: auto;
}

.get-coupon-modal .btn-success {
	text-align: center;
	display: table;
	width: auto;
	margin: 0 auto;
}

.get-coupon-modal h5 {
	font-weight: 400;
	font-size: 16px;
	margin: 15px;
}

.get-coupon-modal p {
	font-weight: 400;
	font-size: 13px;
	margin: 15px;
	color: #9a9c9b;
}

.gray-bg-modal {
	background: #f9fbfb;
}

.footer-modal-solial {
	width: auto;
}

.footer-modal-solial ul {
	margin: 0;
	padding: 0;
}

.footer-modal-solial ul li {
	color: #c5c8d0;
	float: left;
	list-style: none;
}

.footer-modal-solial ul li a {
	color: #c5c8d0;
	float: left;
	list-style: none;
}

/*======Contacts us CSS 20-02-2018==*/

.header-title {
	text-align: center;
	color: #00bfff;
}
#tip {
	display: none;
}
.fadeIn {
	animation-duration: 3s;
}
.form-control {
	border-radius: 0px;
	border: 1px solid #EDEDED;
}
.form-control:focus {
	border: 1px solid #00bfff;
}
.textarea-contact {
	resize: none;
}
.btn-send {
	border-radius: 0px;
	border: 1px solid #00bfff;
	background: #00bfff;
	color: #fff;
}
.btn-send:hover {
	border: 1px solid #00bfff;
	background: #fff;
	color: #00bfff;
	transition: background 0.5s;
}
.second-portion {
	margin-top: 50px;
}
.box>.icon {
	text-align: center;
	position: relative;
}
.box>.icon>.image {
	position: relative;
	z-index: 2;
	margin: auto;
	width: 88px;
	height: 88px;
	border: 8px solid #f5f3f3;
	line-height: 88px;
	border-radius: 50%;
	background: #c94838;
	vertical-align: middle;
}

.box>.icon:hover>.image {
	background: #333;
}

.box>.icon>.image>i {
	font-size: 36px !important;
	color: #fff !important;
}

.box>.icon:hover>.image>i {
	color: white !important;
}

.box > .icon > .info {
	margin-top: -24px;
	background: rgba(0, 0, 0, 0.04);
	border: 1px solid #e0e0e0;
	padding: 35px 0 10px 0;
	min-height: 163px;
}

.box>.icon:hover>.info {
	background: rgba(0, 0, 0, 0.04);
	border-color: #e0e0e0;
	color: white;
}

.box>.icon>.info>h3.title {
	font-family: "Robot", sans-serif !important;
	font-size: 16px;
	color: #222;
	font-weight: 700;
}

.box>.icon>.info>p {
	font-family: "Robot", sans-serif !important;
	font-size: 13px;
	color: #666;
	line-height: 1.5em;
	margin: 20px;
}

.box>.icon:hover>.info>h3.title,
.box>.icon:hover>.info>p,
.box>.icon:hover>.info>.more>a {
	color: #222;
}

.box>.icon>.info>.more a {
	font-family: "Robot", sans-serif !important;
	font-size: 12px;
	color: #222;
	line-height: 12px;
	text-transform: uppercase;
	text-decoration: none;
}

.box>.icon:hover>.info>.more>a {
	color: #fff;
	padding: 6px 8px;
	background-color: #63B76C;
}
.box .space {
	height: 30px;
}
.deal-section form input[type="text"]::-webkit-input-placeholder{
	color: #ecebeb;
} 
.deal-section form input[type="text"]::-moz-placeholder,
.deal-section form input[type="email"]::-moz-placeholder,
.deal-section form textarea::-moz-placeholder{
	color: #cccccc;
	font-weight: 300;
	font-size: 13px;
} /* Conatct end */

/*=======FAQ page CSS==*/
.faq-mainpart{}
.card-body{
	font-weight: 300;
	font-size: 13px;
}
.faq-imgpart{}


/*========CMS CSS==*/
.cms-mainpart{}
.cms-mainpart h5,
.cms-mainpart article{
	font-size: 13px;
	font-weight: 300;
}
.cms-mainpart h5{
	font-weight: 400;
	font-size: 16px;	
}
.cms-txtpart h5,
.cms-txtpart article{
	font-size: 13px;
	font-weight: 300;
}
.cms-txtpart h5{
	font-weight: 300;
	font-size: 16px;
	color: #c94838;

}
.cms-txtpart{}
.cms-txtpart article{
	line-height:20px;
}
.red_price{
	text-decoration: line-through;
	color: #c94838;
}























@media only screen and (max-width: 768px) {
	.contact-form {
		margin-top: 25px;
	}
	.btn-send {
		width: 100%;
		padding: 10px;
	}
	.second-portion {
		margin-top: 25px;
	}
}

